@{
    ViewBag.Title = "About";
}

<div style="background-color: lightgray;">
    <h2 class="title center">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</div>

<div>
    <img src="~/Content/images/ronswanson.jpg" alt="Ron Swanson." />
</div>
<div class="container text-muted">
    <h1 class="rent">History</h1>
    <p>
        Forged through a commitment to quality products and services for music education,
        BlowOut’s long history was founded with the vision of enriching lives through music.
    </p>
    <p>
        BlowOut's story begins with BlowOut’s founder and President, Ron Swanson, who grew
        up in New Jersey playing the trumpet and later doubling on flute.  As a High School
        student in the 1940’s he began playing trumpet in a 15-piece band that played in
        local clubs. He continued to play professionally while studying music at Montclair
        State University.
    </p>
    <p>
        After earning a teaching degree in 1952 he went to work at a New
        Jersey public school, where for the next several years he served as a music director.
        During this time he continued to play in swing bands that accompanied well-known singers
        who appeared in clubs in New Jersey, New York City, and the popular upstate New York
        resorts of the Catskills. He also played in a professional band playing Latin music.
        Because the inflexibility of a school schedule prevented him from traveling to
        out-of-town engagements, he left his teaching job and began working part time at a
        large local music store as the store’s Educational Director, in charge of renting musical
        instruments.
    </p>
    <p>
        Swanson became increasingly dissatisfied with the poor quality of musical
        instruments offered through rental programs, and his dream of providing quality instruments
        with excellent support met with a cool reception from the store owners.  As a result,
        Swanson resigned from the company, quit his professional playing career and started his own company.
    </p>

    <blockquote>
        <p>Crying: Acceptable at funerals and the Grand Canyon. Keep your tears in your eyes where they belong.</p>
        <footer>Ron Swanson</footer>
    </blockquote>


</div>

<div class="container text-muted">
    <h1 class="rent">Mission</h1>
    <p class="center">We blow. And we blow hard. The harder the better. We at BlowOut encourage others to blow as well, as hard and as long as they can, 
    with our high-quality instruments. Dream big, kids.</p>
</div>