@{
    ViewBag.Title = "BlowOut Musical Instrument Rentals";
}

<div class="jumbotron">
    <h1>Welcome to Blow Out!</h1>
    <p class="lead">We blow our competitors out of the water. We rent used and new instruments for your enjoyment.</p>

</div>

<div class="row">
    <blockquote>
        <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the 
            right time and the instrument will play itself”.</p>
        <footer>- Johann Sebastian Bach</footer>
    </blockquote>
        <div class="col-md-12">
        <div class="sheetmusic">
            <img class="sheetmusic" src="~/Content/images/sheet-music.jpg" alt="musicizdebest"/>
        </div>
    </div>
</div>